In [1]:
!conda activate DS807

In [1]:
import data_loader as dl

Using TensorFlow backend.

In [2]:
df = dl.load_1d_grays()
df

,index,string,CC,D,Y,gray_value,filename
0,1,1836,0,3,6,"[[[166.0], [167.0], [166.0], [162.0], [164.0],...",1.jpg
1,2,1836,0,3,6,"[[[169.0], [168.0], [169.0], [170.0], [166.0],...",2.jpg
2,3,1840,0,4,0,"[[[167.0], [169.0], [169.0], [166.0], [165.0],...",3.jpg
3,4,1840,0,4,0,"[[[167.0], [165.0], [165.0], [165.0], [163.0],...",4.jpg
4,5,1823,0,2,3,"[[[62.0], [45.0], [45.0], [37.0], [40.0], [33....",5.jpg
...,...,...,...,...,...,...,...
11995,11996,1808,0,0,8,"[[[88.0], [62.0], [60.0], [68.0], [61.0], [101...",11996.jpg
11996,11997,1809,0,0,9,"[[[173.0], [171.0], [173.0], [175.0], [174.0],...",11997.jpg
11997,11998,1840,0,4,0,"[[[189.0], [189.0], [189.0], [189.0], [189.0],...",11998.jpg
11998,11999,1840,0,4,0,"[[[191.0], [192.0], [192.0], [192.0], [193.0],...",11999.jpg
11999,12000,1810,0,1,0,"[[[175.0], [177.0], [177.0], [175.0], [174.0],...",12000.jpg

In [3]:
df['gray_value'][0].shape

(56, 106, 1)

In [16]:

import numpy as np
arr = np.zeros(shape=(12000,56,106))
i = 0
while i < 12000:
    arr[i] = np.squeeze(df['gray_value'][i])
    i += 1
arr.shape

(12000, 56, 106)

In [17]:
n_samples = len(arr)
x_values = arr.reshape((n_samples, -1))
x_values.shape

(12000, 5936)

In [18]:
len(df['CC'])

12000

In [19]:
from sklearn.model_selection import train_test_split

y_values = df['CC']
x_train, x_test, y_train, y_test = train_test_split(x_values, y_values, test_size=0.2, random_state=2022)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=2022)
print(x_train.shape, x_val.shape, x_test.shape)

(7680, 5936) (1920, 5936) (2400, 5936)

In [31]:
from sklearn import svm
from sklearn.metrics import accuracy_score

kernels = ['linear', 'poly', 'rbf', 'sigmoid']
Cs = [1,2,3]
Ds = [1,2,3,4]
gammas = ['scale','auto']
decisions = ['ovr', 'ovo']
results = []

for kernel in kernels:
        if kernel == 'poly':
            for C in Cs:
                for D in Ds:
                    for gamma in gammas:
                        for decision in decisions:
                            svm_current = svm.SVC(kernel=kernel, 
                                                    degree=D,
                                                    C =C,
                                                    gamma = gamma,
                                                    random_state = 2022,
                                                    decision_function_shape = decision)
                            svm_current.fit(x_train, y_train)
                            y_val_hat = svm_current.predict(x_val)
                            accuracy = accuracy_score(y_val_hat, y_val)
                            #
                            results.append([accuracy, kernel, C, gamma, decision, D])
        else:
            for C in Cs:
                for gamma in gammas:
                    for decision in decisions:
                        svm_current = svm.SVC(kernel=kernel,
                                              C=C,
                                              gamma = gamma,
                                              decision_function_shape = decision,
                                              random_state = 2022)
                        svm_current.fit(x_train, y_train)
                        y_val_hat = svm_current.predict(x_val)
                        accuracy = accuracy_score(y_val_hat, y_val)
                        #
                        results.append([accuracy, kernel, C, gamma, decision, None])

results = pd.DataFrame(results)
results.columns = ['Accuracy', 'Kernel','C', 'Gamma', 'Decision', 'Degree']

In [32]:
import pandas as pd
results = pd.DataFrame(results)
results.columns = ['Accuracy', 'Kernel', 'C', 'Gamma', 'Decision', 'Degree']

results

    Accuracy   Kernel  C  Gamma Decision  Degree
0   0.973437   linear  1  scale      ovr     NaN
1   0.973437   linear  1  scale      ovo     NaN
2   0.973437   linear  1   auto      ovr     NaN
3   0.973437   linear  1   auto      ovo     NaN
4   0.973437   linear  2  scale      ovr     NaN
..       ...      ... ..    ...      ...     ...
79  0.966667  sigmoid  2   auto      ovo     NaN
80  0.966667  sigmoid  3  scale      ovr     NaN
81  0.966667  sigmoid  3  scale      ovo     NaN
82  0.966667  sigmoid  3   auto      ovr     NaN
83  0.966667  sigmoid  3   auto      ovo     NaN

[84 rows x 6 columns]

In [33]:
#Print results
print(str(results[results['Accuracy'] == results['Accuracy'].max()]))

    Accuracy Kernel  C  Gamma Decision  Degree
68  0.982292    rbf  3  scale      ovr     NaN
69  0.982292    rbf  3  scale      ovo     NaN

In [34]:
results.to_csv('SVM_results')