# Import data

In [21]:
!conda activate DS807

In [22]:
import data_loader as dl
import pandas as pd

df = dl.load_1d_grays() #modified to be 2d grid output

df

,index,string,CC,D,Y,gray_value,filename
0,1,1836,0,3,6,"[[[166.0], [167.0], [166.0], [162.0], [164.0],...",1.jpg
1,2,1836,0,3,6,"[[[169.0], [168.0], [169.0], [170.0], [166.0],...",2.jpg
2,3,1840,0,4,0,"[[[167.0], [169.0], [169.0], [166.0], [165.0],...",3.jpg
3,4,1840,0,4,0,"[[[167.0], [165.0], [165.0], [165.0], [163.0],...",4.jpg
4,5,1823,0,2,3,"[[[62.0], [45.0], [45.0], [37.0], [40.0], [33....",5.jpg
...,...,...,...,...,...,...,...
11995,11996,1808,0,0,8,"[[[88.0], [62.0], [60.0], [68.0], [61.0], [101...",11996.jpg
11996,11997,1809,0,0,9,"[[[173.0], [171.0], [173.0], [175.0], [174.0],...",11997.jpg
11997,11998,1840,0,4,0,"[[[189.0], [189.0], [189.0], [189.0], [189.0],...",11998.jpg
11998,11999,1840,0,4,0,"[[[191.0], [192.0], [192.0], [192.0], [193.0],...",11999.jpg
11999,12000,1810,0,1,0,"[[[175.0], [177.0], [177.0], [175.0], [174.0],...",12000.jpg

# Extract gray_values from df, squeeze dimensionality

In [40]:
import numpy as np
arr = np.zeros(shape=(12000,56,106))
i = 0
while i < 1200:
    arr[i] = np.squeeze(df['gray_value'][i])
    i += 1
arr.shape

(12000, 56, 106)

# Flatten gray_values

In [41]:
n_samples = len(arr)
gray_data = arr.reshape((n_samples, -1))
gray_data

array([[166., 167., 166., ..., 167., 161., 149.],
       [169., 168., 169., ..., 165., 166., 162.],
       [167., 169., 169., ..., 171., 169., 166.],
       ...,
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [42]:
gray_data.shape

(12000, 5936)

# Split gray_values and labels into train, valdiation and test sets.

In [50]:
from sklearn.model_selection import train_test_split

x_values = gray_data
y_values = df['CC']

x_train, x_test, y_train, y_test = train_test_split(x_values, y_values, test_size=0.2, random_state=2022)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=2022)

print(x_train.shape, x_val.shape, x_test.shape)

(7680, 5936) (1920, 5936) (2400, 5936)

In [46]:
from sklearn import svm
from sklearn.metrics import accuracy_score

model = svm.SVC()
model.fit(x_train, y_train)

y_val_hat = model.predict(x_val)
acc = accuracy_score(y_val_hat, y_val)*100
acc

96.66666666666667